<nav class="navbar navbar-dark bg-dark">
  <%= link_to 'RentCar', root_path, class: 'navbar-brand'%>
  <ul class="navbar-nav mt-2 mt-lg-0 " >
    <% if current_customer.present? %>
      <li class="nav-item link">
        <%= link_to 'Long out', destroy_customer_session_path, method: 'delete', class: 'nav-link' %>
      </li>
    <%else %>
      <li class="nav-item link">
        <%= link_to 'Sign up', new_customer_registration_path, class: 'nav-link ' %>
      </li>
      <li class="nav-item link">
        <%= link_to 'Log in', customer_session_path, class: 'nav-link ' %>
      </li>
    <%end %>
  </ul>
</nav>
