.size_new {
  padding: 7rem 20rem 22.5rem 35rem;
  color: #313435;
  text-align: center;
  background-color: #f9fafb!important;
}

.form-new {
  padding: 1.5rem ;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.0625);
  border-radius: 0.25rem;
}

.form-group-new {
  padding-top: 3rem;
}

.logo-form {
  padding-top: 1rem;
}

.logo-new {
  float: left;
  margin-bottom: 1rem;
}

.label {
  float: left;
  color: #72777a;
}

form input.image-car {
  background-color: #fff;
  color: #72777a;
  margin-bottom: 1rem;
  width: 100%;
  border-radius: 0.5rem;
  border: 1px solid rgba(0,0,0,.0625);
}

.borders-new-car {
  border-radius: 0.5rem;
  background-color: #fff;
  border-color: rgba(0,0,0,.0625);
}

.margin-status-free {
  margin-right: 72px;
}

.margin-status-close {
  margin-right: 83px;
}

select#car_fuel_type {
  margin-left: 20px;
}

.butt-height {
  height: 2rem;
}

.button-car-new {
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  background-color: #f9fafb;
  color: black;
  border: 1px solid rgba(0,0,0,.0625);
  float: left;
}

form button.button-car-new:hover {
  background: whitesmoke;
  color: black;
  border: 1px solid rgba(0,0,0,.0625);
}

