.size-edit-customer {
  padding: 2rem 30rem 2rem 30rem;
  color: #313435;
  text-align: center;
  background-color: #f9fafb!important;
}

.form-edit-customer {
  padding: 1.5rem ;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.0625);
  border-radius: 0.25rem;
}

.image-edit-customer {
 font-size: 10rem;
}

.label-edit-customer {
  color: #313435;
}

.label {
  float: left;
  color: #72777a;
}

form input.image-customer-edit {
  background-color: #fff;
  color: #72777a;
  margin-bottom: 1rem;
  width: 100%;
  border-radius: 0.5rem;
  border: 1px solid rgba(0,0,0,.0625);
}

.field {
  margin-bottom: 0.5rem;
}

.borders-edit-customer {
  border-radius: 0.5rem;
  background-color: #fff;
  border-color: rgba(0,0,0,.0625);
}

.butt-height-edit {
  height: 4rem;
}

.button-customer-edit {
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  background-color: #f9fafb;
  color: black;
  border: 1px solid rgba(0,0,0,.0625);
  float: left;
}

form button.button-customer-edit:hover {
  background: whitesmoke;
  color: black;
  border: 1px solid rgba(0,0,0,.0625);
}

@import "media/edit-media";
