.size_in {
  margin: 2rem 35rem 5rem 35rem;
  color: black;
  text-align: center;
}

.borders_in {
  border-radius: 1rem;
  background-color: lightgrey;
  border-color: black;
}

.buttons_in {
  border-color: black;
  background-color: gray;
  color: black;
  border-radius: 1.5rem;
  margin-bottom: 1rem;
  width: 20rem;
}

form button.buttons_in:hover {
  background: lightgrey;
  border-color: black;
  color: black;
}

.field_in {
  margin-bottom: 0.5rem;
}

.image_in {
  width: 5rem;
  height: 6rem;
}

.sign_up {
  text-decoration: none;
  background-color: gray;
  color: black;
  padding: 0.55rem 7.1rem 0.55rem 7.1rem;
  border: 1px solid black;
  border-radius: 1.5rem;
  margin-bottom: 1rem;
}

form a.sign_up:hover {
  background: lightgrey;
  color: black;
  text-decoration: none;
}

.forgot_pass {
  text-decoration: none;
  background-color: gray;
  color: black;
  padding: 0.55rem 3.1rem 0.55rem 3.1rem;
  border: 1px solid black;
  border-radius: 1.5rem;
}

a.forgot_pass:hover {
  background: lightgrey;
  color: black;
  text-decoration: none;
}

.forgot_pass_div {
  margin-top: 5rem;
}

