.size-in-customer {
  padding: 5rem 26rem 5rem 26rem;
  color: #313435;
  text-align: center;
  background-color: #f9fafb!important;
}

.form-in-customer {
  padding: 1.5rem ;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.0625);
  border-radius: 0.25rem;
}

.image-log-in {
  font-size: 10rem;
}

.label-log-in {
  color: #313435;
}

.label {
  float: left;
  color: #72777a;
}

.field {
  margin-bottom: 0.5rem;
}

.field-remember {
  margin-bottom: 0.5rem;
  float: left;
}

.borders-in-customer {
  border-radius: 0.5rem;
  background-color: #fff;
  border-color: rgba(0,0,0,.0625);
}

.butt-height-log-in {
  margin-top: 3rem;
  height: 4rem;
}

.butt-height-link-in{
  height: 4rem;
}

.button-customer-in {
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  background-color: #f9fafb;
  color: black;
  border: 1px solid rgba(0,0,0,.0625);
  float: left;
  padding-left: 19px;
  padding-right: 19px;
}

.button-customer-link-in {
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  background-color: #f9fafb;
  color: black;
  border: 1px solid rgba(0,0,0,.0625);
  float: left;
}

form button.button-customer-in:hover {
  background: whitesmoke;
  color: black;
  border: 1px solid rgba(0,0,0,.0625);
}

a.button-customer-link-in:hover{
  background: whitesmoke;
  color: black;
  border: 1px solid rgba(0,0,0,.0625);
}
