.size-reset-customer {
  padding: 0.5rem 30rem 2rem 30rem;
  color: #313435;
  text-align: center;
  background-color: #f9fafb!important;
}

.form-reset-customer {
  padding: 1.5rem ;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.0625);
  border-radius: 0.25rem;
}

.image-reset {
  font-size: 10rem;
}

.label-reset {
  color: #313435;
}

.label {
  float: left;
  color: #72777a;
}

.field {
  margin-bottom: 0.5rem;
}

.borders-reset-customer {
  border-radius: 0.5rem;
  background-color: #fff;
  border-color: rgba(0,0,0,.0625);
}

.butt-height-reset{
  height: 4rem;
}

.button-customer-reset {
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  background-color: #f9fafb;
  color: black;
  border: 1px solid rgba(0,0,0,.0625);
  float: left;
  padding-left: 19px;
  padding-right: 19px;
}

.button-customer-link-reset {
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  background-color: #f9fafb;
  color: black;
  border: 1px solid rgba(0,0,0,.0625);
  float: left;
}

.link-login {
  padding-right: 17px;
  padding-left: 17px;
}

form button.button-customer-reset:hover {
  background: whitesmoke;
  color: black;
  border: 1px solid rgba(0,0,0,.0625);
}

a.button-customer-link-reset:hover{
  background: whitesmoke;
  color: black;
  border: 1px solid rgba(0,0,0,.0625);
}

@import "media/reset_password-media";
