.field {
  margin-bottom: 0.5rem;
}

.image {
 font-size: 10rem;
}

.size_new {
  padding: 7rem 20rem 22.5rem 20rem;
  color: #313435;
  text-align: center;
  background-color: #f9fafb!important;
}

.form-new {
  padding: 1.5rem ;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.0625);
  border-radius: 0.25rem;
}

.label {
  float: left;
  color: #72777a;
}

.labels {
  color: #72777a;
}

form input.image-customer-new {
  background-color: #fff;
  color: #72777a;
  margin-bottom: 1rem;
  width: 100%;
  border-radius: 0.5rem;
  border: 1px solid rgba(0,0,0,.0625);
}

.borders-new-customer {
  border-radius: 0.5rem;
  background-color: #fff;
  border-color: rgba(0,0,0,.0625);
}

.butt-height-new {
  height: 4rem;
}

.button-customer-new {
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  background-color: #f9fafb;
  color: black;
  border: 1px solid rgba(0,0,0,.0625);
  float: left;
}

.button-customer-link {
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  background-color: #f9fafb;
  color: black;
  border: 1px solid rgba(0,0,0,.0625);
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}

form button.button-customer-new:hover {
  background: whitesmoke;
  color: black;
  border: 1px solid rgba(0,0,0,.0625);
}

a.button-customer-link:hover{
  background: whitesmoke;
  color: black;
  border: 1px solid rgba(0,0,0,.0625);
}
