<div class="margin_new">
  <%= link_to 'New', new_admin_salon_path, class: 'new-salon' %>
</div>
<table class="table table-hover table-dark margin_table">
  <thead>
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Image</th>
    <th scope="col">Name</th>
    <th scope="col">Created at</th>
    <th scope="col">Updated at</th>
  </tr>
  </thead>
  <tbody>
    <% @salons.each do |salon| %>
      <tr onclick="window.location.href='<%= admin_salon_path(salon) %>'; return false">
        <%= render salon %>
      </tr>
    <% end %>
  </tbody>
</table>
