<nav class="navbar navbar-dark bg-dark">
  <%= link_to 'Admin', admin_root_path, class: 'navbar-brand'%>
  <ul class="navbar-nav mt-2 mt-lg-0 " >
      <li class="nav-item link">
        <%= link_to 'Salons', admin_salons_path, class: 'nav-link ' %>
      </li>
      <li class="nav-item link">

      </li>
      <li class="nav-item link">

      </li>
  </ul>
</nav>