<nav class="navbar navbar-dark bg-dark">

  <ul class="navbar-nav mt-2 mt-lg-0 " >
    <% if current_customer.present? %>
      <li class="nav-item link">

      </li>
    <%else %>
      <li class="nav-item link">

      </li>
      <li class="nav-item link">

      </li>
    <%end %>
  </ul>
</nav>