.margin_table {
  margin-top: 5rem;
  margin-right: 10rem;
  margin-left: 10rem;
  width: 70rem;
}

.image_salons {
  width: 10rem;
  height: 7rem;
}

.new-salon {
  text-decoration: none;
  background-color: gray;
  color: black;
  padding: 0.55rem 1.5rem 0.55rem 1.5rem;
  border: 1px solid black;
  border-radius: 1rem;
}

a.new-salon:hover {
  background: lightgrey;
  color: black;
  text-decoration: none;
}

.margin_new {
  margin-top: 1.5rem;
  margin-right: 1rem;
  float: right;
}

.table-dark {
  background-color: slategrey;
  border: 1px solid #454d55;
  color: #2E2F30;
}
