@media only screen and (min-width: 1441px) and (max-width: 2561px) {
  .image-forgot {
    font-size: 15rem;
  }

  .label-forgot {
    font-size: 4rem;
  }

  .label {
    font-size: 2.5rem;
  }

  .form-control {
    font-size: 2rem;
  }

  .button-customer-forgot {
    font-size: 2rem;
  }


  .button-customer-link-forgot {
    font-size: 2rem;
    padding-left: 20px;
    padding-right: 20px;
  }

  .butt-height-forgot {
    margin-top: 5rem;
    height: 5rem;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  .size-forgot-customer {
    padding: 2rem 20rem 2rem 20rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .size-forgot-customer {
    padding: 1rem 10rem 2rem 10rem;
  }

}

@media only screen and (min-width: 425px) and (max-width: 767px) {
  .size-forgot-customer {
    padding: 1rem 3rem 2rem 3rem;
  }

  .image-forgot {
    font-size: 5rem;
  }
}

@media only screen and (min-width: 375px) and (max-width: 424px) {
  .form-in-customer {
    padding: 1rem;
  }

  .size-forgot-customer {
    padding: 1rem 1.5rem 2rem 1.5rem;
  }

  .image-forgot {
    font-size: 5rem;
  }
}

@media only screen and (min-width: 320px) and (max-width: 374px) {
  .form-forgot-customer {
    padding: 0.75rem;
  }

  .size-forgot-customer {
    padding: 1rem 1rem 2rem 1rem;
  }

  .image-forgot {
    font-size: 5rem;
  }

}